<script >
	var planeNames = <%= @planes.inspect.html_safe %>;
</script>
<style type="text/css">
	
	body > button:nth-child(11){
		top:20%;
	}
	button {
    background-color: #4CAF50; 
    color: white; 
    width: 180px;
    height: 80px;
    border: 2px solid white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    opacity: 0;
}
</style>
</style>
<script type="text/javascript" src="/javascripts/lib/_three.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/pilot.js"></script>
<script type="text/javascript" src="/javascripts/lib/airplane.js"></script>
<script type="text/javascript" src="/javascripts/lib/sharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/whiteSharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/brownSharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/doubleWingPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/choose_plane.js.erb"></script>

<div id="world"></div>


<div id="rotate">
      <figure>
            <!-- <img src="img/rotate.png" alt="Rotate your device to the left" width="200" height="200"> -->
            <figcaption>
                <p>rotate your phone to the left<p>
            </figcaption>
      </figure>
    </div>
<!-- <a href="/game/index">TO game</a> -->

<button onclick="openFullscreen();" id="open">Open Fullscreen</button>
<button onclick="closeFullscreen();" id="close">Close Fullscreen</button>

<script>
var elem = document.documentElement;
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}

function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) {
    document.msExitFullscreen();
  }
}
</script>