<!-- 
<script type="text/javascript" src="/javascripts/lib/_three.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/pilot.js"></script>
<script type="text/javascript" src="/javascripts/lib/airplane.js"></script>
<script type="text/javascript" src="/javascripts/lib/sharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/whiteSharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/brownSharpPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/doubleWingPlane.js"></script>
<script type="text/javascript" src="/javascripts/lib/choose_plane.js.erb"></script>
 -->
<!-- <div id="world"></div>


<div id="rotate">
      <figure>
            <img src="img/rotate.png" alt="Rotate your device to the left" width="200" height="200">
            <figcaption>
                <p>rotate your phone to the left<p>
            </figcaption>
      </figure>
    </div> -->
<a href="/game/index">TO game</a>

