<% if current_user %>
  <%= render "/welcome/nav" %>
<% end %>

<div class="container">
  
  <div class="jumbotron ">
    <h1 class="text-center">Flight game</h1>        
  </div>
  <% if !current_user %>
    <ul class="nav  nav-bar justify-content-center ">
      <li class="nav-item index-btn">
        <%= link_to "Sign in", new_user_session_path, class: 'nav-link btn btn-outline-success ' %>
      </li>
      <li class="nav-item index-btn">
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-link btn btn-outline-primary ' %>
      </li>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "PLAY", game_plane_path, class: 'btn btn-warning btn-lg btn-block', id: 'play-not-signed' %>
    </div>
    
  </div>
</div>




